.platecard {
    background-color: #caa472;
}

.nav-tabs {
    width: 100%;
}

.nav-item {
    width: 33%;
}


.nav-link {
    background-color:#574333;
}

.nav-link span {
    color: white
}

.active span {
    color: black
}